@import "reset";
@import "mixins";

/* VARS */

$main_color: #f1513c;

/* LAYOUT */

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: #f2f2f2;
    color: #333;
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 1.5em;
    font-size: 18px;
}

#site-content {
    flex: 1;
}

#header {
    display: block;
    text-align: center;

    #header-main {
        padding: 50px 20px;
        background-color: $main_color;
        color: #fff;

        a {
            color: #fff;

            &:hover {
                color: darken(#fff, 5);
            }
        }
    }

    #header-screenshot {
        height: 509px;
        width: 806px;
        margin: -150px auto 0 auto;
        border-radius: 2px;
        @include shadow(2);
        background-image: url('../img/imeditor-screenshot.png');
    }

    #header-logo {
        margin-bottom: 25px;
    }

    h2 {
        font-size: 28px;
        font-style: italic;
    }

    button {
        margin-bottom: 10px;
    }

    p {
        margin-bottom: 0;
        text-transform: uppercase;
        font-style: italic;
    }
}

.content {
    padding: 50px 15%;

    h1 {
        font-size: 28px;
    }

    h2 {
        font-size: 22px;
    }

    &:nth-child(odd) {
        background-color: #333;
        color: #fff;
    }
}

.idea {
    display: inline-block;
    vertical-align: middle;
    width: 150px;
    margin: 20px 35px 0 20px;
    padding: 25px 40px;
    border-radius: 4px;
    background-color: #fff;
    @include shadow(1);
    transition: all 0.5s ease;

    i {
        display: block;
        margin-bottom: 20px;
        font-size: 64px;
    }

    p {
        margin-bottom: 0;
        text-transform: uppercase;
        font-weight: bold;
    }

    &:hover {
        @include shadow(2);
    }
}

#footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 15%;
    background-color: #000;
    color: #fff;
}

/* BUTTONS */

button {
    padding: 20px 30px;
    border: 3px solid #fff;
    border-radius: 50px;
    background-color: inherit;
    color: inherit;
    text-transform: uppercase;
    font-weight: bold;
    @include shadow(1);
    cursor: pointer;
    transition: all 0.5s ease;

    &:hover {
        background-color: #fff;
        color: $main_color;
        @include shadow(2);
    }

    &.darken {
        border-color: #333;

        &:hover {
            background-color: #333;
            color: #fff;
        }
    }
}

/* TEXT */

h1, h2 {
    margin-bottom: 25px;
    font-family: 'PT Sans', sans-serif;
}

p {
    margin-bottom: 15px;
}

a {
    color: $main_color;

    &:hover {
        color: darken($main_color, 5);
    }
}

b {
    font-weight: bold;
}

ul {
    margin-left: 40px;

    li {
        list-style: disc;
    }
}

/* HELPERS */

.align-center {
    text-align: center;
}
