@import "reset";
@import "mixins";

/* VARS */

$main_color: #f1513c;

/* LAYOUT */

body {
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #f2f2f2;
    color: #585858;
    line-height:1.5em;
}

#header {
    display: block;
    padding: 50px;
    @include shadow(1);
    background-color: $main_color;
    text-align: center;

    h1 {
        font-size: 48px;
        color: #fff;
    }

    h2 {
        font-size: 28px;
        color: #fff;
        font-style: italic;
    }
}

#content, #infos {
    h1, h2 {
        color: #333;
    }

    h1 {
        font-size: 28px;
    }

    h2 {
        font-size: 22px;
    }
}

#screenshot {
    display: block;
    margin: 0 auto;
    
}

#content {
    padding: 50px;
}

#infos {
    padding: 50px;
    background-color: #c3c3c3;
}

#ideas {
    margin-bottom: 25px;

    .idea {
        display: inline-block;
        vertical-align: top;
        margin: 20px 35px 0 20px;
        padding: 25px 40px;
        border-radius: 4px;
        background-color: #fff;
        @include shadow(1);

        p {
            margin-bottom: 0;
            text-transform: uppercase;
            font-weight: bold;
        }

        &:hover {
            @include shadow(2);
        }
    }
}

#footer {
    padding: 30px 50px;
    background-color: darken($main_color, 35);
    color: #fff;

    img {
        margin-bottom: 0;
    }

    span {
        float: right;
        margin-top: 10px;
    }
}

/* BUTTONS */

button {
    height: 50px;
    margin: 20px;
    padding: 0 20px;
    border: none;
    border-radius: 24px;
    background-color: #df835c;
    color: #fff;
    text-transform: uppercase;
    @include shadow(1);
    cursor: pointer;

    &:hover {
        background: darken($main_color, 5);
        @include shadow(2);
    }
}

/* TEXT */

p {
    margin-bottom: 15px;
}

a {
    color: $main_color;

    &:hover {
        color: darken($main_color, 5);
    }
}

b {
    font-weight: bold;
}

/* MARGINS */

img {
    margin-bottom: 25px;
}

h1, h2 {
    margin: 15px 0;
    font-family: 'PT Sans', sans-serif;
}

/* HELPERS */

.align-center {
    text-align: center;
}
